Source Code/Node Red/flows.json
[{"id":"3879e5d1.87f75a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a135d2c5.7ff1f","type":"ui_form","z":"3879e5d1.87f75a","name":"","label":"","group":"8acdfea5.d95c6","order":2,"width":10,"height":2,"options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":480,"wires":[["e2e03673.2ffd28"]]},{"id":"e2e03673.2ffd28","type":"function","z":"3879e5d1.87f75a","name":"input","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":420,"wires":[["b31e791c.d14728","2408eaee.1b3b96"]]},{"id":"f3891dc0.4d097","type":"function","z":"3879e5d1.87f75a","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":690,"y":320,"wires":[["1a31d881.e44577","881e2391.d752d"]]},{"id":"1a31d881.e44577","type":"debug","z":"3879e5d1.87f75a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":180,"wires":[]},{"id":"881e2391.d752d","type":"ui_text","z":"3879e5d1.87f75a","group":"3af1cd5f.b512d2","order":1,"width":12,"height":7,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":830,"y":540,"wires":[]},{"id":"b31e791c.d14728","type":"watson-conversation-v1","z":"3879e5d1.87f75a","name":"Customer Assistant","workspaceid":"d859c76b-6c40-43e0-84d1-41c10939137a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":470,"y":320,"wires":[["f3891dc0.4d097"]]},{"id":"81285806.eed068","type":"inject","z":"3879e5d1.87f75a","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["b31e791c.d14728"]]},{"id":"2408eaee.1b3b96","type":"ui_text","z":"3879e5d1.87f75a","group":"8acdfea5.d95c6","order":6,"width":6,"height":2,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":540,"wires":[]},{"id":"8acdfea5.d95c6","type":"ui_group","z":"","name":"Input","tab":"ae71c34b.31c07","order":1,"disp":true,"width":10,"collapse":false},{"id":"3af1cd5f.b512d2","type":"ui_group","z":"","name":"Output","tab":"ae71c34b.31c07","order":2,"disp":true,"width":"12","collapse":false},{"id":"ae71c34b.31c07","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]